/* Stil für den gesamten Seitenaufbau */
body {
	font-family: Calibri, sans-serif; /* Setzt die Schriftart */
	text-align: center; /* Zentriert den Inhalt */
}
/* Stil für das Formular */
form {
	max-width: 400px; /* Maximale Breite des Formulars */
	margin: auto; /* Zentriert das Formular */
	padding: 10px; /* Innenabstand */
	border: 1px solid #ddd; /* Rahmen um das Formular */
	border-radius: 5px; /* Abgerundete Ecken */
}

/* h1 { */
	/* color: red; */
/* } */

/* Stil für Eingabefelder, Auswahlmenüs und Button */
input, select, button {
	width: 100%; /* Volle Breite des Formulars nutzen */
	height: 35px; /* Höhe der Felder */
	padding: 5px; /* Innenabstand */
	font-size: 14px; /* Schriftgröße */
	margin-bottom: 10px; /* Abstand zwischen den Feldern */
	box-sizing: border-box; /* Sorgt dafür, dass padding und border in der Gesamtgröße enthalten sind */
}
/* Stil für den Button */
button {
	height: 40px; /* Höhere Schaltfläche für bessere Bedienbarkeit */
}

.side-button {
    position: fixed;  /* Fixiert den Button an einer Position */
    left: 100px;       /* Abstand vom linken Rand */
	width: 250px;
    /* top: 50%;         /* Vertikal in der Mitte */ */
    transform: translateY(-50%); /* Genau zentrieren */
    padding: 10px 20px;
    background-color: #007BFF; /* Blaue Farbe */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

	.side-button:nth-of-type(1) {
	top: 20%;   /* 20% von der Höhe der Seite */
	}
	.side-button:nth-of-type(2) {
	top: 50%;   /* 50% von der Höhe der Seite */
	}

	.side-button:nth-of-type(3) {
	top: 75%;   /* 50% von der Höhe der Seite */
	}

	.side-button:hover {
		background-color: #0056b3; /* Dunkleres Blau beim Hover */
	}


#canvas-container {
    max-width: 100%; /* Maximale Breite auf 100% des Containers setzen */
    max-height: 90vh; /* Maximale Höhe auf 90% der Ansichtshöhe setzen */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Zentriert den Canvas horizontal */
    align-items: center; /* Zentriert den Canvas vertikal */
}
canvas {
    width: 100%;
    height: auto;
}
